<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
 
  <title>Detalhes da Aula</title>
</head>
<body>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listarAulas">Voltar</a>
    </div>
  </nav>
 
  <main class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Detalhes da Aula</h1>
      </div>
    </div>
 
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <h5 class="card-header" th:text="${aula.nome_disciplina}"></h5>
          <div class="card-body">
            <p>
              Categoria: <span th:text="${aula.categoria}"></span>
            </p>
            <p>
              Descrição: <span th:text="${aula.descricao}"></span>
            </p>
            <p>
              Data da Aula: <span th:text="${aula.dt_aula}"></span>
            </p>
            <p>
              Hora da aula: <span th:text="${aula.hr_aula}"></span>
            </p>
            <p>
              Plataforma: <span th:text="${aula.plataforma}"></span>
            </p>
            <p>
              Tipo de Aula: <span th:text="${aula.tipo_aula}"></span>
            </p>
 			<p>
              Valor da Aula: <span th:text="${aula.vl_aula}"></span>
            </p>
            <a th:href="@{/{id}/editar (id=${aula.id})}" class="btn btn-warning">Editar</a>
            <a th:href="@{/{id}/excluir (id=${aula.id})}" class="btn btn-danger">Excluir</a>
          </div>
        </div>
      </div>
    </div>
  </main>
 
 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>