<!DOCTYPE html>
<html lang="pt-br">
 
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
 
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
 
	<title>Cadastrar Nova Aula</title>
</head>
 
<body>
	<nav class="navbar navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="/listarAulas">Voltar</a>
		</div>
	</nav>
 
	<main class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Cadastro</h1>
			</div>
		</div>
 
		<div class="row">
			<div class="col-sm-12">
				<form action="/cadastrarAulas" method="post" th:object="${aula}" enctype="multipart/form-data">

					<div class="mb-3">
						<label for="nome" class="form-label">Categoria</label>
						<input type="text" class="form-control" id="nome" th:field="*{categoria}" placeholder="Nome Completo">
					</div>

					<div class="mb-3">
						<label for="cpf" class="form-label">Descrição</label>
						<input type="text" class="form-control" id="cpd" th:field="*{descricao}" placeholder="CPF (Apenas números)">
					</div>

					<div class="mb-3">
						<label for="senha" class="form-label">data Aula</label>
						<input type="date" class="form-control" id="senha" th:field="*{dt_aula}" placeholder="dd/mm/yyyy">
					</div>

					<div class="mb-3">
						<label for="nome" class="form-label">Hora aula</label>
						<input type="time" class="form-control" id="hr_aula" th:field="*{hr_aula}" placeholder="hh:mm:ss">
					</div>

					<div class="mb-3">
						<label for="cpf" class="form-label">Nome Disciplina</label>
						<input type="text" class="form-control" id="cpd" th:field="*{nome_disciplina}" placeholder="CPF (Apenas números)">
					</div>

					<div class="mb-3">
						<label for="senha" class="form-label">Plataforma</label>
						<input type="text" class="form-control" id="senha" th:field="*{plataforma}" placeholder="*************">
					</div>

					<div class="mb-3">
						<label for="nome" class="form-label">Tipo de Aula</label>
						<input type="text" class="form-control" id="nome" th:field="*{tipo_aula}" placeholder="Nome Completo">
					</div>

					<div class="mb-3">
						<label for="cpf" class="form-label">Valor da Aula</label>
						<input type="text" class="form-control" id="cpd" th:field="*{vl_aula}" placeholder="CPF (Apenas números)">
					</div>	
									
					<br>
					<button type="submit" class="btn btn-primary">Cadastrar</button>
				</form>
			</div>
		</div>
	</main>
 
 
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
		crossorigin="anonymous"></script>
</body>
 
</html>