<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/estilo.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <title>Tutorar</title>
</head>
<body>
   <!-- ======= Header ======= -->
   <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <h1><a href="/"><img src="https://github.com/AndersonShermann/Tutorar/blob/desenvolvimento/src/main/resources/static/img/logo50px.png?raw=true" alt="" class="">Tutorar</a></h1>
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#header">Início</a></li>
          <li><a class="nav-link scrollto" href="#about">Sobre Nós</a></li>
          <li><a class="nav-link scrollto" href="#team">Nosso Time</a></li>
          <li><a class="nav-link scrollto" href="#" data-bs-toggle="modal"
						data-bs-target="#loginModal">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="header-social-links d-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>

    </div>
  </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero">

      <div class="container">
        <div class="row">
          <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
            <div>
              <h1>Descubra um mundo de aprendizado personalizado.</h1>
              <h2>Descubra uma comunidade de professores e alunos apaixonados por compartilhar conhecimento!</h2>
              <a href="/cadastrar-usuario" class="btn-get-started scrollto">Cadastre-se agora</a>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
            <img src="https://github.com/AndersonShermann/Tutorar/blob/desenvolvimento/src/main/resources/static/img/tutorarttlampada.png?raw=true" class="img-fluid" alt="">
          </div>
        </div>
      </div>
  
    </section><!-- End Hero -->

    <main class="main">

          <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container">

          <div class="row">
            <div class="col-lg-6" data-aos="zoom-in">
              <img src="assets/img/about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 d-flex flex-column justify-contents-center" data-aos="fade-left">
              <div class="content pt-4 pt-lg-0">
                <h3>Quem Somos?</h3>
                <p class="fst-italic">
                  A comunidade <strong>Tutorar</strong> é de todos e para todos. Nossos principais objetivos são:
                </p>
                <ul>
                  <li><i class="bi bi-check-circle"></i> Transmitir conhecimento de qualidade, com valores acessíveis e negociáveis.</li>
                  <li><i class="bi bi-check-circle"></i> Criar network de profissionais de determinadas áreas a fim de aprender e transmitir conhecimento</li>
                  <li><i class="bi bi-check-circle"></i> Desenvolver o censo de colaboração de aprendizado! </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </section><!-- End About Section -->

      <!-- ======= Features Section ======= -->
      <section id="features" class="features">
        <div class="container">

          <div class="row">
            <div class="col-lg-6 mt-2 mb-tg-0 order-2 order-lg-1">
              <ul class="nav nav-tabs flex-column">
                <li class="nav-item" data-aos="fade-up">
                  <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
                    <h4>Aulas individuais e em grupo</h4>
                    <p>Seja em carreira solo ou em grupo, o ensino é personalizado</p>
                  </a>
                </li>
                <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="100">
                  <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
                    <h4>Preço acessível</h4>
                    <p>Os valores das aulas são negociadas direto com os professores</p>
                  </a>
                </li>
                <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="200">
                  <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
                    <h4>Na medida certa</h4>
                    <p>Seja um curso completo ou um tema especifico, sempre tem alguem pra ensinar e aprender.</p>
                  </a>
                </li>
                <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="300">
                  <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
                    <h4>Mais que amigos... Friends</h4>
                    <p>Para além de habilidades técnicas. Amplie seu networking e faça novos amigos.</p>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in">
              <div class="tab-content">
                <div class="tab-pane active show" id="tab-1">
                  <figure>
                    <img src="https://img.freepik.com/vetores-gratis/conceito-de-ilustracao-de-terapia-de-grupo_52683-45727.jpg?w=996&t=st=1700256214~exp=1700256814~hmac=91766dc0632f10a9b61c18f327acaa73cd93ca9d1f33f1c590d79f146506d3b1" alt="" class="img-fluid">
                  </figure>
                </div>
                <div class="tab-pane" id="tab-2">
                  <figure>
                    <img src="https://img.freepik.com/vetores-gratis/os-funcionarios-do-departamento-financeiro-estao-calculando-as-despesas-dos-negocios-da-empresa_1150-41782.jpg?w=996&t=st=1700256271~exp=1700256871~hmac=370450091946adcbd021dcdc78ec9ad3a3c232595c303a12edfbdbfb97bdccbb" alt="" class="img-fluid">
                  </figure>
                </div>
                <div class="tab-pane" id="tab-3">
                  <figure>
                    <img src="https://img.freepik.com/vetores-gratis/ilustracao-de-referencia-de-design-plano-desenhado-a-mao_23-2149331621.jpg?w=740&t=st=1700256316~exp=1700256916~hmac=5e5efce633d7fe89ed9c1223b0865927a18a84c7edb562bdf4a0a18fae6e6e4a" alt="" class="img-fluid">
                  </figure>
                </div>
                <div class="tab-pane" id="tab-4">
                  <figure>
                    <img src="https://img.freepik.com/vetores-gratis/grupo-de-jovens-posando-para-uma-foto_52683-18823.jpg?w=740&t=st=1700256352~exp=1700256952~hmac=02d459ec47a6be09eec7626505a08846a85737d756172e6073bc5ba49157bc5e" alt="" class="img-fluid">
                  </figure>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section><!-- End Features Section -->

      <!-- ======= Team Section ======= -->
      <section id="team" class="team">
        <div class="container">

          <div class="section-title" data-aos="fade-up" id="team">
            <h2>Nosso Time</h2>
            <p>Nossa equipe de desenvolvedores trabalha 78 horas por dia para manter todo esse sistema funcionando. Garantindo acesso as aulas a qualquer momento em qualquer lugar.</p>
          </div>

          <div class="row">

            <div class="col-lg-3 col-md-6">
              <div class="member" data-aos="zoom-in">
                <div class="pic"><img src="https://media-gig4-2.cdn.whatsapp.net/v/t61.24694-24/397919655_348053661069358_7413501400954745558_n.jpg?ccb=11-4&oh=01_AdTSXfw63pF9fv7LxgJKl72t4Hk4hiI_hfCE6x78MByYew&oe=6563909F&_nc_sid=e6ed6c&_nc_cat=100" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Alexandre</h4>
                  <span>O cara do Front-end / Academia</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="member" data-aos="zoom-in" data-aos-delay="100">
                <div class="pic"><img src="https://media-gig4-2.cdn.whatsapp.net/v/t61.24694-24/400243382_645823864289868_3282008168404948398_n.jpg?ccb=11-4&oh=01_AdR38jl8fDJXI61aGgh_QrpcsPhcmnhCja3Fi1YUnJJEOA&oe=65660075&_nc_sid=e6ed6c&_nc_cat=108" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Adinayane Sousa</h4>
                  <span>Fera no back-end, mas ninguém nunca viu seu rosto</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="member" data-aos="zoom-in" data-aos-delay="200">
                <div class="pic"><img src="https://media-gig4-2.cdn.whatsapp.net/v/t61.24694-24/370361934_183994254649522_7141999760050971031_n.jpg?ccb=11-4&oh=01_AdSHHWp0WFncemCChlAlm_qQUzjp3KThexFRRJW-GgvPyA&oe=6564E3BA&_nc_sid=e6ed6c&_nc_cat=104" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Anderson Borges (Shermann)</h4>
                  <span>Só sei que nada sei</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="member" data-aos="zoom-in" data-aos-delay="200">
                <div class="pic"><img src="https://media-gig4-2.cdn.whatsapp.net/v/t61.24694-24/396292405_227734880213197_8325584046290850340_n.jpg?ccb=11-4&oh=01_AdSFvr6oC-lG83gOcQiWhhn6jZQcEg3eg7our3xisqF2kQ&oe=6564F648&_nc_sid=e6ed6c&_nc_cat=102" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Diana / Gota de Orvalho</h4>
                  <span>Só Deus sabe o verdadeiro nome dela</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </section><!-- End Team Section -->
    </main>

    <footer class=" pb-5" style="background-color: rgb(211, 86, 55);">
      <div class="container-fluid text-center text-md-start">
        <div class="row text-center text-md-start fs-9">
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-light">
              <img src="https://github.com/AndersonShermann/Tutorar/blob/desenvolvimento/src/main/resources/static/img/tutorarttlampada30px.png?raw=true" alt="Logo" class="logo-image">
              Tutorar
            </h5>

            <p class="text-light"><small>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid atque fuga
                sapiente eveniet quo animi maxime ipsa dignissimos asperiores deleniti!</small></p>
          </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3" id="link">
            <h5 class="mb-4 text-primary fs-6 text-light"><small></small> Nós</h5>
            <p>
              <a href="#" class="text-decoration-none text-light"><small>Nossa História</small></a>
            </p>

            <p>
              <a href="#" class="text-decoration-none text-light"><small>Canal de Ética</small></a>
            </p>
            <p>
              <a href="#" class="text-decoration-none text-light"><small>Política de Privacidade</small></a>
            </p>

          </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3" id="link">
            <h5 class="mb-4 text-primary fs-6 text-light">Suporte</h5>

            <p>

            <p>
              <a href="#" class="text-decoration-none text-light"><small>Formas de Pagamento</small></a>
            </p>
            <p>
              <a href="#" class="text-decoration-none text-light"><small>Perguntas frequentes</small></a>
            </p>
            <p>
              <a href="#" class="text-decoration-none text-light"><small>Recursos</small></a>
            </p>
          </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h5 class="mb-4 text-light fs-6">Contatos</h5>
            <p class="text-muted">
              <i class="bi bi-house-door text-light "><small>Rio de Janeiro, RJ - BR</small></i>
            </p>
            <p class="text-muted">
              <i class="bi bi-envelope-at text-light"><small>tutorar@tutorar.com</small></i>
            </p>
            <p class="text-muted">
              <i class="bi bi-telephone-inbound text-light"><small>+ 55 21 0 0000-0000</small></i>
            </p>
          </div>

          <hr class="mb-4  " style="border-color: rgb(255, 255, 255);">

          <div class="row align-items-center text-muted">
            <div class="col-md-12 col-lg-12">
              <p class=" text-center text-light">&copy; Copyright 2023 Tutorar. Ensine, aprenda! </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    
    <!--=====Modal login ===== -->
    <div class="modal" id="loginModal">
		<div class="modal-dialog">
			<div class="modal-content p-5">

                <div class="d-flex justify-content-center">
                        <img src="https://github.com/AndersonShermann/goodtrip/blob/main/img/user-login.png?raw=true" style="width: 200px; height: 200px;" alt="login-icon">
                </div>

					<div class="text-center fs-2 fw-semibold">Login</div>

					<form action="#" method="post">
						<div class="input-group mt-4">
							<label for="usuario" class="input-group-text">
								<i class="bi bi-person-circle"></i>
							</label>
							<input class="form-control bg-light" type="text" id="usuario" name="usuario"
								placeholder="Usuário">
						</div>

						<div class="input-group mt-4">
							<label id="senha" class="input-group-text">
								<i class="bi bi-key-fill"></i>
							</label>
							<input class="form-control bg-light" type="password" id="senha" name="senha"
								placeholder="****">
						</div>

						<button type="submit" class="btn text-white w-100 mt-4 fw-semibold shadow-sm" id="searchButton">
							Login
						</button>
					</form>

					<div class="d-flex gap-1 justify-content-center mt-1">
						<div>Não é cadastrado?</div>
						<a href="/cadastrar-usuario" class="text-decoration-none fw-semibold" style="color: #89CDBE;">Criar conta</a>
					</div>

					<div class="p-3">
						<div class="border-bottom text-center" style="height: 0.9rem">
							<span class="bg-white px-3">ou</span>
						</div>
					</div>

					<div class="btn d-flex gap-2 justify-content-center border mt-3 shadow-sm">
						<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20"
							viewBox="0 0 48 48">
							<path fill="#FFC107"
								d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z">
							</path>
							<path fill="#FF3D00"
								d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z">
							</path>
							<path fill="#4CAF50"
								d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z">
							</path>
							<path fill="#1976D2"
								d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z">
							</path>
						</svg>
						<div class="fw-semibold text-secondary">Logar com Google</div>
					</div>
					<div class="btn d-flex gap-2 justify-content-center border mt-3 shadow-sm">
						<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20"
							viewBox="0 0 48 48">
							<linearGradient id="Ld6sqrtcxMyckEl6xeDdMa_uLWV5A9vXIPu_gr1" x1="9.993" x2="40.615"
								y1="9.993" y2="40.615" gradientUnits="userSpaceOnUse">
								<stop offset="0" stop-color="#2aa4f4"></stop>
								<stop offset="1" stop-color="#007ad9"></stop>
							</linearGradient>
							<path fill="url(#Ld6sqrtcxMyckEl6xeDdMa_uLWV5A9vXIPu_gr1)"
								d="M24,4C12.954,4,4,12.954,4,24s8.954,20,20,20s20-8.954,20-20S35.046,4,24,4z"></path>
							<path fill="#fff"
								d="M26.707,29.301h5.176l0.813-5.258h-5.989v-2.874c0-2.184,0.714-4.121,2.757-4.121h3.283V12.46 c-0.577-0.078-1.797-0.248-4.102-0.248c-4.814,0-7.636,2.542-7.636,8.334v3.498H16.06v5.258h4.948v14.452 C21.988,43.9,22.981,44,24,44c0.921,0,1.82-0.084,2.707-0.204V29.301z">
							</path>
						</svg>
						<div class="fw-semibold text-secondary">Logar com Facebook</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Fim modal -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="./js/script.js"></script>
</body>
</html>